\.idea/dictionaries/Jeremi\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/workspace\.xml

\_pycache_/

\build/

\dist/


autoTRAX\.spec

__pycache__/autoTRAX\.cpython-37\.pyc

NEW BUILD MAKER\.txt

NEW BUILD MAKER\.bat
